<!DOCTYPE html>
<html>
  <head>
    <title>Tutorialcruz</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="w3-container w3-teal">
    <div> <a href="/users" class="w3-bar-item w3-button"> Users </a> </div>
    <div class= "w3-container w3-blue">
      <a href="/static_pages/home"> Home </a>  
    </div>
    <%= yield %>
  </body>
</html>
